.product .images {
	width:48%;
	float: left;
	margin-right:1%;
}
.product .summary {
	width:48%;
	float: left;
	margin-left: 1%;
}
.product .quantity input[type="button"], button[type="submit"] {
	border:1px solid #A81625;
	background:#BF1E2E;
	background: -webkit-gradient(linear,left top,left bottom,from(#BF1E2E),to(#A81625));
	background: -webkit-linear-gradient(#BF1E2E,#A81625);
	background: -moz-linear-gradient(center top,#BF1E2E 0%,#A81625 100%);
	background: -moz-gradient(center top,#BF1E2E 0%,#A81625 100%);
	border-color: #A81625;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
	padding: 10px 20px;
	border-radius: 2px;
	color:#fff;
	font-size:17px;
}
.product .quantity input[type="number"], .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea{
	padding:10px 20px;
	border-radius: 2px;
	border:1px solid #636363;
}
button[type="submit"] {
	width: 150px;
	margin: 10px auto;
	display: block;
}
button[type="submit"]:hover, .product .quantity input[type="button"]:hover {
	border:1px solid #BF1E2E;
	background:#A81625;
}
.product form {
	margin: 0 0 18px;
	width: auto;
	float: left;
}
.product .woocommerce-tabs {
	width:100%;
	float: left;
	margin-top:30px;
	margin-bottom: 60px;
}
.product .woocommerce-tabs .tabs {
	border-bottom: 1px solid #A81625;
	float:left;
	width:100%;
}
.product .woocommerce-tabs .tabs li {
	display:inline;
	float: left;
	margin:0px 0 -1px 20px !important;
	border: 1px solid #A81625;
	margin-bottom:-1px;
	border-radius: 2px 2px 0 0;
}
.product .woocommerce-tabs .tabs li a {
	color:#121212;
	display:block;
	padding:6px 30px 7px;
	width:100%;
	height:100%;
}
.product .woocommerce-tabs .tabs li.active {
	background:#BF1E2E;
	background: -webkit-gradient(linear,left top,left bottom,from(#BF1E2E),to(#A81625));
	background: -webkit-linear-gradient(#BF1E2E,#A81625);
	background: -moz-linear-gradient(center top,#BF1E2E 0%,#A81625 100%);
	background: -moz-gradient(center top,#BF1E2E 0%,#A81625 100%);
	border-color: #A81625;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
}
.product .woocommerce-tabs .tabs li.active a {
	color:#fff;
}
.product .woocommerce-tabs #reviews, .product .woocommerce-tabs #reviews #comments, .product .woocommerce-tabs #reviews #review_form_wrapper, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2, .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
	width:100%;
	float:left;
}
.product .woocommerce-tabs #reviews #comments {
	width:100%;
	float: left;
	margin-bottom:30px;
}
.product .woocommerce-tabs #reviews #comments ol, .product .woocommerce-tabs #reviews #comments ol li {
	margin:0 !important;
	padding:0 !important;
	width:100% !important;
	margin-bottom: 15px !important;
	float:left !important;
	list-style: none !important
}
.product .woocommerce-tabs #reviews #comments ol li .comment_container {width:100%; float:left;}
.product .woocommerce-tabs #reviews #comments ol li .comment_container img, .product .woocommerce-tabs #reviews #comments ol li .comment_container .comment-text {
	float:left;
	width:15%;
}
.product .woocommerce-tabs #reviews #comments ol li .comment_container .comment-text {
	width:80%;
	margin-left: 5%;
}
.product .woocommerce-tabs #reviews #comments ol li .comment_container .comment-text .star-rating, .product .woocommerce-tabs #reviews #comments ol li .comment_container .comment-text .meta, .product .woocommerce-tabs #reviews #comments ol li .comment_container .comment-text .description {
	width:100%;
	float:left;
}
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before {background:#100E39 !important;}
.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info {border-top:3px solid #100E39 !important;}

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
	background:#BF1E2E;
	background: -webkit-gradient(linear,left top,left bottom,from(#BF1E2E),to(#A81625));
	background: -webkit-linear-gradient(#BF1E2E,#A81625);
	background: -moz-linear-gradient(center top,#BF1E2E 0%,#A81625 100%);
	background: -moz-gradient(center top,#BF1E2E 0%,#A81625 100%);
	border-color: #A81625;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
}

.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover {
	background:#A81625;
	background: -webkit-gradient(linear,left top,left bottom,from(#A81625),to(#BF1E2E));
	background: -webkit-linear-gradient(#A81625,#BF1E2E);
	background: -moz-linear-gradient(center top,#A81625 0%,#BF1E2E 100%);
	background: -moz-gradient(center top,#A81625 0%,#BF1E2E 100%);
	border-color: #BF1E2E;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals, .woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
	width:65% !important;
}
.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table {
	padding:15px;
}